In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("taxi.csv")

In [3]:
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [4]:
data.tail()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
22,86,1590000,15000,165,126240
23,98,1595000,15200,175,123888
24,87,1590000,15600,175,126080
25,77,1600000,16000,190,151680
26,63,1610000,16200,200,152800

In [5]:
data.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Priceperweek            27 non-null     int64
 1   Population              27 non-null     int64
 2   Monthlyincome           27 non-null     int64
 3   Averageparkingpermonth  27 non-null     int64
 4   Numberofweeklyriders    27 non-null     int64
dtypes: int64(5)
memory usage: 1.2 KB

In [7]:
data.describe()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
count,27.000000,2.700000e+01,27.000000,27.000000,27.000000
mean,49.925926,1.680111e+06,11063.259259,107.037037,160026.074074
std,27.627921,6.780307e+04,3416.627944,45.346089,21301.097303
min,15.000000,1.590000e+06,5800.000000,50.000000,115696.000000
25%,27.500000,1.617500e+06,8400.000000,75.000000,149600.000000
50%,40.000000,1.695000e+06,11600.000000,100.000000,161600.000000
75%,75.000000,1.725000e+06,13888.000000,140.000000,176000.000000
max,102.000000,1.800000e+06,16200.000000,200.000000,192000.000000

In [8]:
X = data.drop('Numberofweeklyriders', axis=1)

In [9]:
X.head()

   Priceperweek  Population  Monthlyincome  Averageparkingpermonth
0            15     1800000           5800                      50
1            15     1790000           6200                      50
2            15     1780000           6400                      60
3            25     1778000           6500                      60
4            25     1750000           6550                      60

In [10]:
Y = data['Numberofweeklyriders']
Y.head()

0    192000
1    190400
2    191200
3    177600
4    176800
Name: Numberofweeklyriders, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model = LinearRegression()

In [15]:
model.fit(X_train, Y_train)

LinearRegression()

In [16]:
model.score(X_test, Y_test)

0.940952435745749

In [17]:
model.predict([[15, 1790000, 6200, 50]])

array([187945.83489444])

In [18]:
import joblib

In [19]:
joblib.dump(model, "UberRide.pkl")

['UberRide.pkl']

In [20]:
t = joblib.load("UberRide.pkl")

In [21]:
t.predict([[15, 1790000, 6200, 50]])

array([187945.83489444])